/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
    justify-items: center;
    background-color: #d0ddf5;
    max-width: 100%;
    font-family: Helvetica;
}


/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

.o-main {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.o-footer {
    margin: 3rem 0rem
}

h2 {
    font-size: 1.5rem;
    /* width: 17.5rem; */
}

svg {
    scale: 2;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-hoofd {
    font-size: 3rem;
    margin: 5rem;
}

.c-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 67.5rem;
}

.c-grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}

.c-grid__span2 {
    grid-column: span 2;
    justify-self: center;
}

.c-img {
    border-radius: 2rem;
    max-width: 32.5rem;
    min-width: 15rem;
}

.c-img_1 {
    border-radius: 2rem;
    max-height: 37.5rem;
}

.c-grid__content {
    object-fit: cover;
    max-width: 100%;
}

.c-tekst {
    max-width: 32.5rem;
}

.c-tekst_1 {
    max-width: 65rem;
}

.c-right__grid {
    justify-self: end;
    text-align: left;
}

.c-left__grid {
    justify-self: start;
    text-align: left;
}

.c-button {
    color: #d0ddf5;
    padding: .5rem 1rem;
    background-color: #7caaff;
    border-radius: 1rem;
    border-style: solid;
}

.c-button__add {
    position: fixed;
    display: inline-block;
    right: 2rem;
    bottom: 2rem;

    font-size: 1.5rem;
    border-radius: 1rem;
}

.c-button__terug {
    border-radius: 1rem;
    background-color: #d0ddf5;
    color: #7caaff;
    border-color: #a0c2ff;
}

.c-info {
    display: flex;
    justify-content: center;
}

.c-info__tekst {
    /* text-align: left; */
    max-width: 65rem;
    margin-bottom: 2rem;
    padding: center;
}

.c-form {
    display: block;
    text-align: center;
    justify-items: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: 80svw;
}

.c-form__element{
    justify-items: center;
    width: 100%;
}

.c-form__label {
    display: block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: 700;
}

.c-form__nieuw {
    display: block;
    margin-bottom: 3rem;
}

.c-form__textaere {
    vertical-align: top;
    width: calc(100% - 4rem);
    margin: 2rem;
    margin-top: 0rem;
}

.omkader{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: .75rem .75rem .25rem rgba(255, 255, 255, .85);
    padding: 2rem;
    border-radius: 2rem;
    /* width: fit-content; */
}

.back-white{
    background-color: white;
}

.strong{
    font-weight: 700;
}

@media (width < 912px) {

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        text-align: center;
        background-color: #d0ddf5;
        max-width: 100%;
    }

    svg {
        scale: 1;
    }

    .o-main {
        margin: 0 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .o-footer {
        padding-bottom: 3rem;
    }

    .c-hoofd {
        margin: 0rem;
    }

    .c-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    .c-grid__span2 {
        grid-column: span 1;
    }

    .c-grid__content {
        object-fit: cover;
        max-width: 100%;
        justify-self: center;
    }

    .c-img {
        max-width: 100%;
    }

    .c-tekst {
        max-width: 22.5rem;
    }

    .c-info__tekst{
        max-width: 22.5rem;
    }
}